<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/sourcesanspro-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="stylelog.css">

</head>
<body class="form-v8">

	<!--header------------------------------>
	 <div class="top-nav-bar">
    <div class="logo"><a href="/" target="blank">
      <img src="https://thumbs.dreamstime.com/b/teamwork-group-meeting-discussion-planning-icon-logo-colorful-114724818.jpg" class="logo"></a>
    </div>
      <div class="heading1">
     <div class="d-flex justify-content-center align-items-center flex-column py-5">
                <h1 class="text-uppercase main_heading">Let's Discuss</h1>
                <p class="main_heading__para"> <span class="text-capitalize bg-dark text-white py-2 px-3">Welcome To The World Of Discussion</span> </p>
            </div>
          </div>
        


  
     </div>

	 <!-------------header ends----------------------->
	<div class="page-content">
		<div class="form-v8-content">
			<div class="form-left">
				<img class="ganesh" src="https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/ganesha-statue-and-flower-petals-tim-gainey.jpg" alt="form">
			</div>
			<div class="form-right">
				<div class="tab">
					<div class="tab-inner">
						<button class="tablinks" onclick="openCity(event, 'sign-up')" id="defaultOpen">Sign Up</button>
					</div>
					<div class="tab-inner">
						<button class="tablinks"><a href="login" target="blank">Sign In</a></button>
					</div>
				</div>
				<form class="form-detail" action="/register" method="POST">
					<div class="tabcontent" id="sign-up">
						<div class="form-row">
							<label class="form-row-inner">
								<input type="text" name="full_name" id="full_name" class="input-text" required>
								<span class="label">Username</span>
		  						<span class="border"></span>
							</label>
						</div>
						<div class="form-row">
							<label class="form-row-inner">
								<input type="email" name="email" id="your_email" class="input-text" required>
								<span class="label">E-Mail</span>
		  						<span class="border"></span>
							</label>
						</div>
						<div class="form-row">
							<label class="form-row-inner">
								<input type="password" name="password" id="password" class="input-text" required>
								<span class="label">Password</span>
								<span class="border"></span>
							</label>
						</div>
						<div class="form-row">
							<label class="form-row-inner">
								<input type="password" name="comfirm_password" id="comfirm_password" class="input-text" required>
								<span class="label">Comfirm Password</span>
								<span class="border"></span>
							</label>
						</div>
						<div class="form-row-last">
							<input type="submit" name="register" class="register" value="Register">
						</div>
					</div>
				</form>
			
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function openCity(evt, cityName) {
		    var i, tabcontent, tablinks;
		    tabcontent = document.getElementsByClassName("tabcontent");
		    for (i = 0; i < tabcontent.length; i++) {
		        tabcontent[i].style.display = "none";
		    }
		    tablinks = document.getElementsByClassName("tablinks");
		    for (i = 0; i < tablinks.length; i++) {
		        tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }
		    document.getElementById(cityName).style.display = "block";
		    evt.currentTarget.className += " active";
		}

		
		document.getElementById("defaultOpen").click();
	</script>

	 <!----------------------------------------Footer------------------------------------------>
<section class="footer">
<div class="container text-center">
  <div class="row">
   
        <div class="col-md-3">
      <h1>Let'sDiscuss</h1>
      <p>About Us</p>
      <p>Contact Us</p>
      <p>Career</p>
      <p>Affiliate</p>   
    </div>
     
    
  </div>
</div>
<p align="center">©2021 Let'sDiscuss.com.</p>
</section>
</body>
</html>