<html>
<head>
  <title>Section3</title>
  <link rel="stylesheet" type="text/css" href="css/section1.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<!----------------header----------------------------->
<div class="top-nav-bar">
    <div class="logo"><a href="/" target="blank">
      
      <img src="https://thumbs.dreamstime.com/b/teamwork-group-meeting-discussion-planning-icon-logo-colorful-114724818.jpg" class="logo"></a>
    </div>
      <div class="heading1">
     <div class="d-flex justify-content-center align-items-center flex-column py-5">
                <h1 class="text-uppercase main_heading">Let's Discuss</h1>
                <p class="main_heading__para"> <span class="text-capitalize bg-dark text-white py-2 px-3">Welcome To The World Of Discussion</span> </p>
            </div>
          </div>
        


    <div class="menu-bar">
      <ul>
            <li><a href="register" target="blank">Sign Up</a></li>
                <li><a href="login" target="blank">Login</a></li>
      </ul>
    </div>
     </div>

     <!-------------------------header ends------------------------->

     <div class="smart">
         

     
         
     	
             
     		<img src="https://www.clearias.com/up/National-Agroforestry-Policy.jpg"><br><br>
            

     
    <div class="headings">
         
     	<h1 id="h">COVID-19 2021</h1><br>
    
<h6>With 93,249 new COVID-19 cases, India records biggest single-day surge in 2021, April 4, 2021</h6>
       <br><br>
       <h6>COVID-19India on Sunday recorded 93,249 new coronavirus infections, the highest single-day rise so far this year, which took the total COVID-19 cases to 1,24,85,509, according to Union health ministry data. This is the biggest daily rise in cases since September 19, when 93,337 fresh infections were recorded.</h6>
       <br><br>
</div>   
 </div>
    <!-- comment -------------section--3------>  
    <div class="comments">                                      
    <div class='form3'>
          <div id='container3'>

</div>
    <h5>ADD COMMENT</h5>
    Name: <input type="text" id="name3" /> <br /><br />
    Date: <input type="date" id="date3" /> <br /><br />
    Body: <textarea rows="5" col="30" id="bodyText3"></textarea><br /><br />
    <input type="button" id="addComment3" value="Add Comment"/>
   
   
</div>
</div>



        
        
        


                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src='js/script3.js' type='text/javascript'></script>
  <!---------------comment section--2-ends-------->    
 
<!----------------------------------------Footer------------------------------------------>
<section class="footer">
<div class="container text-center">
  <div class="row">
   
        <div class="col-md-3">
      <h1>Let'sDiscuss</h1>
      <p>About Us</p>
      <p>Contact Us</p>
        
    </div>
     
    
  </div>
</div>
<p align="center">©2021 Let'sDiscuss.com.</p>
</section>
<!---------------------footer ends----------------------------->
 </body>
 </html>