<html>
<head>
  <title>Section1</title>
  <link rel="stylesheet" type="text/css" href="css/section1.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<!----------------header----------------------------->
<div class="top-nav-bar">
    <div class="logo"><a href="/" target="blank">
      
      <img src="https://thumbs.dreamstime.com/b/teamwork-group-meeting-discussion-planning-icon-logo-colorful-114724818.jpg" class="logo"></a>
    </div>
      <div class="heading1">
     <div class="d-flex justify-content-center align-items-center flex-column py-5">
                <h1 class="text-uppercase main_heading">Let's Discuss</h1>
                <p class="main_heading__para"> <span class="text-capitalize bg-dark text-white py-2 px-3">Welcome To The World Of Discussion</span> </p>
            </div>
          </div>
        


    <div class="menu-bar">
      <ul>
            <li><a href="register" target="blank">Sign Up</a></li>
                <li><a href="login" target="blank">Login</a></li>
      </ul>
    </div>
     </div>

     <!-------------------------header ends------------------------->

     <div class="smart">
         

     
         
     	
             
     		<img src="https://th.bing.com/th/id/R5623e5f027f70c5fa5c604af9749e127?rik=D0dpEbWIgqq7qA&pid=ImgRaw"><br><br>
            

     
    <div class="headings">
         
     	<h1 id="h">Indian farmers' protest in 2020</h1><br>
    
<h6>The umbrella body of the farmer unions protesting the Centre's farm laws held a rally to mark "Shaheed Diwas" on Tuesday and said they will not withdraw their stir till the legislations are repealed.</h6>
       <br><br>
       <h6>The 2020–21 Indian farmers' protest is a protest that is taking place right now in India. It was caused when Parliament passed three new laws. A lot of people think that these laws will hurt farmers and put them under the control of big farming corporations . A lot of the farmers who are protesting are from Punjab and Haryana states.</h6>
       <br><br>
</div>   
 </div>
    <!-- comment -------------section--1------>  
    <div class="comments">                                      
    <div class='form1'>
          <div id='container1'>

</div>
    <h5>ADD COMMENT</h5>
    Name: <input type="text" id="name1" /> <br /><br />
    Date: <input type="date" id="date1" /> <br /><br />
    Body: <textarea rows="5" col="30" id="bodyText1"></textarea><br /><br />
    <input type="button" id="addComment1" value="Add Comment"/>
   
   
</div>
</div>



        
        
        


                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src='js/script.js' type='text/javascript'></script>
  <!---------------comment section---ends-------->    
 
<!----------------------------------------Footer------------------------------------------>
<section class="footer">
<div class="container text-center">
  <div class="row">
   
        <div class="col-md-3">
      <h1>Let'sDiscuss</h1>
      <p>About Us</p>
      <p>Contact Us</p>
    
    </div>
     
    
  </div>
</div>
<p align="center">©2021 Let'sDiscuss.com.</p>
</section>
<!---------------------footer ends----------------------------->
 </body>
 </html>